* {
    margin: 0;
    padding: 0;

}
.App {
    height: 100vh;
    background: linear-gradient(5deg, #43c2a2, #185aad);

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
